.page-head
	margin: 0 0 25px 
.article
	overflow: hidden
	padding: 0 14% 
	+creg
	font-size: 18px
	color: $brown_l
	+r(960)
		padding: 0 20px 
	+r(768)
		padding: 0 10px 
	h1,h2,h3,h4,h5,h6
		font-weight: normal
		color: $brown 
		+gbold
	h2
		margin: 44px 0 15px 
		text-align: center
		font-size: 32px
	h3
		margin: 44px 0 15px 
		font-size: 24px
	p
		margin-bottom: 18px
	strong,b
		font-weight: normal
		+cbold
		color: $brown
	em,i
		font-weight: normal
		+cit
	img
		float: left
		margin: 12px 30px 12px 0
		max-width: 100%
		height: auto
		+r(480)
			float: none
			margin: 12px 0 
	a
		color: $blue_d
		text-decoration: underline
		&:hover
			text-decoration: none
		img
			float: none
	ol
		margin-bottom: 18px
		counter-reset: list1
		li
			position: relative
			padding-left: 15px
			&:before
				content: ""
				position: absolute
				left: 0
				top: 0
				//color: $orange  
				counter-increment: list1 
				content: counter(list1) ". "
	ul
		margin-bottom: 18px
		li
			position: relative
			padding-left: 10px
			+cit
			&:before 
				content: "•"
				position: absolute
				left: 0
				top: 0
	table
		margin-bottom: 34px
		th
			padding: 4px 0
			text-align: left
			font-weight: normal
			+gmed
			color: $brown 
		td
			padding: 4px 0 
	.slick-slider
		margin: 34px 0 43px 
		text-align: center
		img
			margin: 0
			display: inline-block
			width: auto
			float: none
.video
	position: relative
	overflow: hidden
	img
		display: block
		max-width: 100%
		margin: 0 auto
		float: none
	&__play
		position: absolute
		top: 50%
		left: 50%
		margin: -42px 0 0 -42px 
		+svg(play,84,84)
		+tr
		&:hover
			opacity: .9

.article-item
	border-bottom: 2px solid #c9bab0  
	padding: 20px 
	&.is-active
		background: #f8f5f3 
		a
			color: $brown_l 
	a
		color: $blue_d 
		&:hover
			text-decoration: underline
	&__title
		display: block
		+gbold
		font-size: 20px
	&__text	
		padding: 2px 0 
		font-size: 16px
.slider
	position: absolute
	bottom: 0
	left: 0
	right: 0
	padding-bottom: 85px
	color: #fff 
	background: rgba(#000,.6) 
	+r(760)
		padding: 0 20px 85px
	&__title
		padding: 22px 0 16px
		font-size: 37px
		text-align: center
		+gbold
		+r(760)
			margin: 0 auto 
			max-width: 80%
			font-size: 18px
	&__param
		float: left
		width: 50%
		text-align: left
		font-size: 16px
		+r(760)
			width: 100%
		div,strong
			display: inline-block
			vertical-align: middle
			overflow: hidden
		div
			width: 245px
			margin-right: 33px
			+r(760)
				width: 120px
				margin-right: 10px
		span
			display: inline-block
			position: relative
			&:before
				content: ""
				position: absolute
				right: -206px
				top: 15px
				width: 200px
				height: 2px
				background: url(../img/dots.png) 0 0 repeat
				+r(760)
					display: none
		strong
			font-weight: normal
			+gbold
			+r(760)
				float: right
	&__info
		overflow: hidden
		text-align: center
		span
			display: block
			font-size: 27px
			+gbold
		+r(760)
			display: none
	.slick-dots
		bottom: -47px
	.slick-prev
		left: -177px
		+svg(prev-w,38,28)
		+r(760)
			display: none
			// left: 0
			// top: 50px 
			// +svg(prev-w,19,14) 
	.slick-next
		right: -177px
		+svg(next-w,38,28)
		+r(760)
			display: none
			// right: 10px
			// top: 50px
			// +svg(next-w,19,14)

.slider-plan
	max-width: 906px
	margin: 0 auto 
	.slick-dots
		bottom: -30px
		button
			background: $brown
			box-shadow: none 

.sections
	padding: 50px 0 80px 
	background: $orange
	color: #fff  
	+r(760)
		padding: 20px 0 
	+ .l-center
		.title
			+r(760)
				span
					display: none
	.title
		color: #fff 
		margin-top: 0
	.l-center
		padding: 0 25px
		+r(900)
			padding: 0 20px  
	&__wrap
		float: right
		margin-left: 40px
		padding-top: 46px
		width: 317px
		+clr  
		+r(900)
			float: none
			margin: 0
			width: 100%
			+justify
		+r(760)
			padding-top: 10px
	&__table	
		overflow: hidden
		+r(900)
			display: none
.table
	display: table
	width: 100%
	margin: 0 0 20px 
	border: 2px solid #fff
	font-size: 19px
	+gmed  
	&_head
		border: 0
		+creg
		font-size: 16px
		.table__cell
			vertical-align: top 
	&.is-inactive
		opacity: .3
	&.is-active
		background: #fff
		color: $orange  
	&__row
		display: table-row
	&__cell
		display: table-cell
		width: 20%
		vertical-align: middle
		padding: 10px 15px
.section
	position: relative
	float: left
	margin: 0 7px 7px 0 
	padding: 29px 0 0 33px
	width: 152px
	height: 152px
	color: #fff 
	+r(900)
		display: inline-block
		float: none
		margin: 0 10px 10px 0
		font-size: 16px
	+r(760)
		padding: 20px 0 0 15px
	+r(480)
		height: 130px
		width: 130px

	&:nth-child(2n)
		margin-right: 0
	&:nth-child(3),
	&:nth-child(4)
		padding-top: 17px
	&.is-active
		color: $orange 
		.section__img-active	
			display: block
		.section__img-inactive
			display: none
	&.is-inactive
		opacity: .3
	&__img
		position: absolute
		z-index: 0
		top: 0
		right: 0
		bottom: 0
		left: 0
		img
			max-width: 100%
	&__img-active
		display: none
	strong
		font-weight: normal
		position: relative
		z-index: 2
		+gextra
		font-size: 28px
		+r(480)
			font-size: 18px
	span
		position: relative
		z-index: 2
		display: block
		+gbold
		font-size: 18px
		+r(480)
			font-size: 14px
.credit
	color: $brown_l 
	text-align: center
	&__info
		margin-bottom: 27px
		font-size: 20px
		+r(760)
			font-size: 16px
	&__item
		float: left
		margin-bottom: 40px
		width: 33.3%
		font-size: 22px
		+cit
		+r(760)
			font-size: 16px
		+r(480)
			float: none
			padding: 0 20px 
			width: 100%
	&__price
		+gbold
		color: $brown 
		font-size: 33px
		+r(760)
			font-size: 18px
.docs
	+clr
	&__col
		float: left
		width: 50%
		+r(760)
			float: none
			padding: 0 20px 
			width: 100%
	i
		vertical-align: middle
.icon
	&-pdf
		+svg(pdf,25,30)
	&-doc
		+svg(doc,25,30)
	&-zip
		+svg(zip,25,30)
	&-png
		+svg(png,25,30)
	&-xml
		+svg(xml,25,30)

.doc
	display: inline-block
	position: relative
	margin-bottom: 19px
	padding-left: 40px
	font-size: 16px
	+gmed
	color: $blue_d
	i
		position: absolute
		left: 0
		top: -4px
		
.opt
	+clr
	color: $brown_l 
	+r(960)
		padding: 0 20px 
	.opt__col1
		overflow: hidden
		padding-right: 10px
		.opt__title
			width: 80%
	.opt__col2
		float: right
		width: 160px
		+r(760)
			width: 100px
	&__title
		margin-bottom: 20px
		border-bottom: 1px solid 
		padding-bottom: 8px
		font-size: 16px
		+creg
	&__total
		border-top: 1px solid $brown_l 
		padding: 22px 0 0 
		+clr
		font-size: 19px
		+gmed
		color: $brown
	.checkbox
		&__title
			padding-right: 180px
			+r(760)
				padding-right: 110px
		
.result
	+clr
	&__col
		float: left
		width: 31%
		margin-left: 2%
		&:first-child
			margin-left: 0
		+r(960)
			float: none
			width: 80%
			margin: 0 auto 60px
			&:first-child
				margin-left: auto
		+r(760)
			width: 100%
			padding: 0 20px 
	&__price
		margin: 0 0 69px 
		border-top: 1px solid $brown_l
		padding: 40px 0 0 
		font-size: 33px
		color: $brown 
		text-align: center
		+gbold 
		+r(960)
			margin-bottom: 20px
	.slick-slider
		background: #f4efec 
	.slick-prev,
	.slick-next
		display: none
	.slick-slide
		padding: 20px 0 
		img
			margin: 0 auto  
	.slick-dots
		bottom: -26px
		button
			background: #9e897b
			box-shadow: none  	
	.param-list
		margin: 0 0 14px 
		color: #734c33
		span
			color: $brown_l 	
.soc
	+clr
	&__title
		margin: 0 0 25px 
		font-size: 18px
		+gbold
		color: $brown
		text-transform: uppercase
	a
		float: left
		margin-left: 8%
		&:first-child
			margin-left: 0
		&:hover
			opacity: .9
	&__fb
		+sr(soc-fb)
	&__od
		+sr(soc-od)
	&__vk
		+sr(soc-vk)
	&__pi
		+sr(soc-pi)
	&__in
		+sr(soc-in)
.form
	margin: 0 0 37px 
	padding: 25px 23px 18px 
	background: #e7e1dc 
	border-radius: 3px
	.doc-title
		margin-bottom: 20px
	+ .doc-title
		margin-left: 17px
		+r(760)
			margin: 0
.doc-title
	position: relative
	display: inline-block
	position: relative
	color: $brown
	font-size: 19px
	+gbold
	white-space: nowrap
	+r(760)
		text-align: center
	i
		display: inline-block
		margin-right: 18px
		vertical-align: middle
		+r(760)
			display: block
			margin: 0 auto 10px
	span
		display: inline-block
		vertical-align: middle
		white-space: normal
.icon-doc-pdf
	+svg(doc-pdf,32,42)
.icon-doc-link
	+svg(doc-link,32,42)
.copy-link
	display: block
	margin: 25px 0 0
	padding: 13px 16px
	background: #e7e1dc
	border-radius: 3px
	+gmed
	font-size: 16px
	color: #734c33
	line-height: 1  